.lesson {
    background-color: lemonchiffon;
}

.tittle {
    color: darkblue;
}
#email {
    background-color: goldenrod;
  }
  
  #github {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }